aniso8601
annotated-types
anyio
apispec
apispec-webframeworks
appdirs
arrow
asttokens
attrs
Automat
beautifulsoup4
bidict
binaryornot
blinker
boto3
botocore
bs4
cairosvg
certifi
chardet
charset-normalizer
clarabel
click
cloudpickle
constantly
contourpy
cookiecutter
cssselect
cvxpy
cycler
dask
debugpy
decorator
deepdiff
distributed
distro
distro-info
dnspython
ecos
email_validator
et-xmlfile
executing
fake-useragent
fastapi
fastapi-cli
feedparser
Flask
Flask-Cors
Flask-RESTful
Flask-SocketIO
fonttools
frozendict
fsspec
gevent
gevent-websocket
gitignore_parser
greenlet
gunicorn
h11
html5lib
httpcore
httptools
httpx
hyperlink
idna
imageio
importlib_metadata
incremental
ipython
itsdangerous
jedi
Jinja2
jmespath
kerykeion
kiwisolver
kthread
lazy_loader
locket
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-sqlalchemy
matplotlib
matplotlib-inline
mdurl
modin
msgpack
multidict
multitasking
networkx
numpy
numpy-financial
openai
opencv-contrib-python
openpyxl
ordered-set
orjson
osqp
packaging
pandas
parse
parso
partd
passlib
peewee
pexpect
pickleshare
pillow
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pydantic
pydantic_core
pyee
Pygments
pymongo
pyodbc
pyparsing
pyportfolioopt
pyppeteer
pyquery
python-chess==1.999
python-dateutil
python-dotenv
python-engineio
python-http-client
python-multipart==0.0.6
python-slugify
python-socketio
pytickersymbols
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
qdldl
reportlab
requests==2.31.0
requests-futures
requests-html
rich
rsa
s3transfer
scikit-image
scipy
scs
sendgrid
setuptools
sgmllib3k
shellingham
simple-websocket
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starkbank-ecdsa
starlette
taipy
taipy-config
taipy-core
taipy-gui
taipy-rest
taipy-templates
tblib
text-unidecode
tifffile
toml
toolz
tornado
tqdm
traitlets
Twisted
typer
types-python-dateutil
typing
typing_extensions
tzdata
tzlocal
ujson
urllib3
uvicorn[standard]==0.24.0
uvloop
w3lib
watchfiles
watchgod
wcwidth
webencodings
websockets
Werkzeug
wheel
wikipedia
wordcloud
wsproto
yahoo-fin
yahoofinancials
yahooquery
yarl
yfinance
zict
zipp
zope.event
zope.interface